@import '../../variables';

.overlay {
  background-color: $medium-gray;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.cartModal {
  position: fixed;
  width: 30vw;
  height: 100%;
  top: 0;
  right: 0;
  background-color: $white;
  z-index: 2;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    cursor: pointer;
  }
}

.buttons {
  margin-top: auto;

  & button {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }
}

.btnPrimary {
  background: $dark-gray;
  color: $white;
  transition: background-color 0.3s;

  &:hover {
    background-color: $black;
  }
}

.btnSecondary {
  border: 2px solid black;
  transition: all 0.3s;

  &:hover {
    background-color: $black;
    color: $white;
  }
}