.card {
  display: flex;
  flex-direction: column;
}

.img {
  width: 100%;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.title {
  text-decoration: none;
  color: black;
  transition: all 0.3s;

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}